apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: application-demo
  namespace: user1
spec:
  replicas: 2
  selector:
    matchLabels:
      app: application-demo
  template:
    metadata:
      labels:
        app: application-demo
    spec:
      containers:
      - name: application-demo
        image: ${IMAGE_REPO}:${IMAGE_TAG}
        ports:
        - containerPort: 8080

---
apiVersion: v1
kind: Service
metadata:
  name: application-demo
  namespace: user1
spec:
  ports:
  - port: 80
    targetPort: 8080
    name: application-demo
    nodePort: 30372
  selector:
    app: application-demo
  type: NodePort